/* xs styles go here (mobile) */

.coming-soon {
    font-size: 30px;
  }

  .trading-post {
    margin-top: 50px;
    padding:0px;
    border: 1px solid;
    font-size: 25px;
    border-radius: 3px;
    background-color: #AC371E;

  }

.bs-docs-masthead .bs-docs-booticon {
margin: 0 auto 10px;
}
.bs-docs-booticon {
position: relative
margin-top: 40px;
display: block;
font-weight: 500;
color: #89dcd8;
border-radius: 20px;
cursor: default;
}

@media (min-width: 768px) {
  /* sm styles go here (tablet) */
}

@media (min-width: 992px) {
  /* md styles go here (table/desktop) */
  
  .coming-soon {
    font-size: 60px;
  }

  .trading-post {
    border: 13px solid;

  }


}


@media (min-width: 1200px) {
  /* lg styles go here (large desktop) */
  
}