
/*---------- Features ----------*/
#features {
    color:#fff;
}

#features .item {
    text-align: center;
    padding: 25px 0px;
}
#features .item-icon {
    border-radius: 50%;
    border: 2px solid #555;
    width: 50px;
    height: 50px;
    padding-top: 12px;
    margin: 0 auto;
}

/*---------- Image ----------*/
#image {
    color: #fff;
    padding-top: 100px;
    padding-bottom: 0px;
}

/*---------- About ----------*/
#about {
}
#about .user {
    padding: 25px 0px;
}

*---------- Testimonials ----------*/
#testimonials {
}
#testimonials .text p {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.456em;
    margin-top: 15px;
}


/*---------- Gallery ----------*/
#gallery {
    background-color: #fff;
}
#owl-demo .item {
    margin: 10px;
}
#owl-demo .item img {
    display: block;
    width: 280px;
    height: 497px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.customNavigation   {
    text-align: center;
}
.customNavigation a {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    color: #eee;
    font-size: 36px;
    padding: 0px 20px;
    cursor: pointer;
}



/*---------- Subscribe ----------*/
#subscribe {
    
    color: #fff;
    padding-top: 100px;
    padding-bottom: 150px;
}
#subscribe .footer-note {
    margin-top: 100px;
}





/*---------- Forms ----------*/
.form-control {
    background-color: #e8f8f5;
    border: 2px solid #1abc9c;
    border-radius: 4px;
    box-shadow: none;
    color: #444;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    vertical-align: middle;
    width: 100%;
}

/*---------- Misc ----------*/
.fill {
    background-color: #1abc9c;
    height: 100%;
    width: 100%;
}
.lead {
    margin-bottom: 50px;
}
.overview {
    text-align: center;
    margin-bottom: 80px;
}
.user-avatar img {
    margin: 0 auto;
}
hr.separator {
    margin-top: 100px;
    background: rgb(0, 0, 0, 0);
    border-top: 1px solid #47c9af;
}
hr.separator-alt {
    background: rgb(0, 0, 0, 0);
    border-top: 2px solid #1abc9c;
    border-top-radius: 2px;
    max-width: 300px;
    margin: 50px 0;
}
.green-tooltip + .tooltip > .tooltip-inner {
    background-color: #89dcd8;
    padding: 12px 15px;
    color: #2c3e50;
    border-radius: 5px;
}
.green-tooltip + .tooltip.top .tooltip-arrow {
    border-top-color: #ccc;
}

.brand-name {
  font-family: monospace !important;
  font-size: 36px;
  margin-left: 5px;
}

.brand {
  border: 3px solid ;
  border-radius: 20px;
  padding: 4px 2px;
  margin-left: 2px;
  color: #2c3e50 !important;
  background-color: #89dcd8;
  font-size: 36px;
  line-height: 30px;
}

.btn-toggle:hover {
  color: #89dcd8;
}

element.style {
}
.top-shopping-cart-icon{
  padding: 5px;
  font-size: 20px;
}

.top-shopping-cart-link {
  float: right;
  margin-right: 5px;
}

.copyright {
  position: absolute;
  bottom: 5px; right: 5px;
  text-align: right;
  display: inline-table;
}

.top-search-link {
  float:right;
}


/** search input **/

.fieldcontainer {
  display: inline-flex;
  width: 25%;
  margin: 0 auto;
  color: #2c3e50 !important;
  float:right;
}

::-webkit-input-placeholder {
   color: #2c3e50;
}

:-moz-placeholder { /* Firefox 18- */
   color: #2c3e50;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #2c3e50;  
}

:-ms-input-placeholder {  
   color: #2c3e50;  
}

.searchfield {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
display: block;
margin-top: 1px;
margin-right: 5px;
height: 44px;
width: 50%;
padding-left: 32px;
font-size: 14px;
color: #4a4a4a !important;
border: 1px solid #2c3e50;
-webkit-border-radius: 15 px;
-moz-border-radius: 15px;
border-radius: 15px;
-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1), 0 0 0 2px #2c3e50;
-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1), 0 0 0 2px #2c3e50;
box-shadow: inset 0 1px 2px rgba(0,0,0,0.1), 0 0 0 2px #2c3e50;
-webkit-transition: all 0.4s linear;
-moz-transition: all 0.4s linear;
transition: all 0.4s linear;
  background: #89dcd8 url('../images/search.png') center left no-repeat;
}

.searchfield:focus {
  width: 100%;
}

a, input, textarea {
-webkit-font-smoothing: antialiased;
-webkit-text-size-adjust: 100%;
-ms-text-size-adjust: 100%;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
outline: none;
}

.brand-text {
  font-size: 80px;
  font-family: monospace;
}

.brand-desc {
  border: 1px solid;
}

.coming-soon {
  font-size: 60px;
}

.trading-post {
  margin-top: 50px;
  padding:0px;
  border: 13px solid;
  font-size: 40px;
  border-radius: 3px;
  background-color: #AC371E;
  
}
